img {
    margin-top: 3px;
    height: 50px;
}

.nav-link:hover {
    color: #4B49AC;
}

.post-job-btn {
    background-color: #4B49AC;
    color: #fff;
    border-color: #4B49AC;
    margin-right: 20px;
}

.post-job-btn:hover,
.post-job-btn:active,
.post-job-btn:focus {
    background-color: #fff;
    color: #4B49AC;
    border-color: #4B49AC;
}

.sign-up-btn {
    border-color: #4B49AC;
    color: #4B49AC;
}

.login-btn {
    margin-right: 5px;
}

.sign-up-btn:hover {
    background-color: #4B49AC;
    color: #fff;
}

.dropdown {
    margin-right: 20px;
    font-size: 30px;
}

.dropdown-toggle::after {
    content: none;
}

.logout-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.search-form {
    width: 400px;
}

.search-input {
    width: 55% !important;
}

.search-select {
    width: 15% !important;
    margin-right: 5px;
}

@media screen and (max-width: 1100px) {
    .search-form {
        width: 280px;
    }
}

@media screen and (min-width: 292px) {
    img {
        margin-right: 50px;
    }
}

@media screen and (max-width: 241px) {
    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}