#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    padding-top: 70px;
    /* Adjust the value based on your header height */
}

footer {
    margin-top: auto;
}

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Works for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Select all elements with a class containing the word "primary" */
[class*="bg-primary"] {
    background-color: #4B49AC;
}

[class*="outline-primary"] {
    border-color: #4B49AC;
    color: #4B49AC;
}